/*

Copyright: 2024 - Aduki Incorporation & Darkchesa Comics
Name: Ruki Player
URL: https://github.com/aduki-Inc/ruki.git
Author: Fredrick Femar Ochieng
Author URL: https://femar.co.ke


/* Fonts
==================================== */

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Sen:wght@400;500;600;700;800&display=swap');

/* Normalize
==================================== */
:root {
  --font-main: 'Plus Jakarta Sans';
  --background: #ffffff;

  /* Player progress bar*/
  --value: 50;
  --percentage: var(--value);
  --primary: rgb(235, 135, 42);
  --secondary: rgba(170, 221, 255, 0);
  --size: 250px;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: var(--font-main), sans-serif;
}

*:focus {
  outline: inherit !important;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #DDDDD7;
}

::-webkit-scrollbar-thumb {
  width: 3px;
  background: #C57642;
}

a {
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* Typography 
==================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: var(--font-main), sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

#container.container {
  /* border: 2px solid red; */
  width: 100%;
  max-width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-image: url('/img/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 100%; */
}

#player-container.player-container {
  border: 1px solid #ffffffda;
  width: 80%;
  height: 90%;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content:start;
  position: relative;

  /* Morph */
  background: rgb(100, 172, 188, 0.25);
  background-color: linear-gradient(180deg, rgba(100, 172, 188, 0.788), rgba(0, 0, 0, 0.25));
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  background: linear-gradient(135deg,
  rgba(100, 172, 188, 0.9),
  rgba(100, 172, 188, 0.7), 
  rgba(100, 172, 188, 0.534), 
  #08b86fde,#23d5abe1
  );
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  -webkit-animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#player-container.player-container>section.extras.right {
  border: 1px solid rgb(78, 78, 78);
  border-right: none;
  position: absolute;
  height: 200px;
  width: 80px;
  right: 0;
  top: calc(50% - 100px);
}

#player-container.player-container>section.status.top {
  /* border-bottom: 1px solid #ffffff; */
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.status.top > .current-song {
  /* border: 1px solid #ffffff; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

section.status.top>.current-song .info {
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: center;
}

section.status.top>.current-song .info>h4.song-title {
  margin: 0;
  font-family: 'Jetbrains Mono';
  font-size: 0.95rem;
  color: #ffffff;
}

section.status.top>.current-song .info>span.artist {
  margin: 0;
  font-family: 'Jetbrains Mono';
  font-size: 0.85rem;
  color: #ebebeb;
  opacity: .7;
}

section.status.top>.current-song>.cover {
  width: 40px;
  height: 40px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}

section.status.top>.current-song>.cover>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.status.top>.current-song .fades {
  /* border-bottom: 1px solid #ffffff; */
  position: absolute;
  left: 12px;
  max-height: 30px;
  height: 30px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

section.status.top>.current-song>.fades>span.fade {
  background-color: #ffffff;
  display: inline-block;
  width: 3px;
  height: 8px;
  border-radius: 10px;
}

section.status.top>.current-song>.fades>span.fade.last {
  /* height: 20px; */
  animation: classic 1s linear infinite;
}

section.status.top>.current-song>.fades>span.fade.first {
  /* height: 20px; */
  animation: classic-reverse 1s linear infinite;
}

@keyframes classic {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(2);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes classic-reverse {
  0% {
    transform: scaleY(2);
  }


  50% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(2);
  }
}


#player-container.player-container>section.lyrics {
  border: none;
  /* background-color: var(--background, #ffffff); */
  height: calc(100% - 150px);
}

#player-container.player-container>section {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


#player-container.player-container>section.controls>.control-bar {
  /* border: 1px solid rgb(78, 78, 78); */
  width: 50%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  padding: 0 0 0 8px;

  /* Morph */
  /* background: rgb(100, 172, 188, 0.25);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); */
}


/* Player Controller */
#player-container.player-container>section.controller {
  /* border: 1px solid rgb(218, 218, 218); */
  /* background-color: var(--background, #ffffff); */
  height: max-content;
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 100%;
  height: 60%;

  /* Morph */
  /* background: rgba(0, 0, 0, 0.25); */
  position: absolute;
  bottom: 0;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #0000002d;
  background: linear-gradient(180deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.9),
    rgb(0, 0, 0)
  );
}

section.controller>.arrows {
  /* border: 1px solid white; */
  padding: 5px;
  width: 200px;
  height: max-content;
  display: flex;
  flex-flow: column;
  color: #ffffff;
}

section.controller>.arrows .up-next span{
  font-weight: 400;
  font-size: 0.8rem;
  opacity: .7;
  font-family: 'Jetbrains Mono';
}

section.controller>.arrows .song {
  /* border: 1px solid yellow; */
  display: flex;
  flex-flow: column;
  gap: 0;
}

section.controller>.arrows .song p,
section.controller>.arrows .song h4 {
  font-family: 'Jetbrains Mono';
  margin: 0;
  font-size: 0.95rem;
  font-weight: 600;
}

section.controller>.arrows .play-next {
  /* border: 1px solid rgb(0, 204, 255); */
  cursor: pointer;
  margin: 12px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 7px;
  padding: 5px 15px 5px 10px;
  border-radius: 7px;
  font-weight: 500;
  /* background: rgb(223, 121, 26);
  background: linear-gradient(0deg,
      rgb(223, 121, 26) 0%,
      rgb(240, 156, 78) 100%);
  background-color: rgb(247, 145, 162); */

  background: #ad5389;
	background: linear-gradient(0deg,
			rgba(20, 167, 62, 1) 0%,
			rgba(102, 247, 113, 1) 100%);
	background-color: rgb(247, 145, 162);
}

section.controller>.arrows.previous .play-next {
  background: linear-gradient(#53595f, #627ea0);
}

section.controller>.arrows .play-next span.text {
  font-family: 'Jetbrains Mono';
}

#player-container>section.controller>.control-bar  {
  --width: 250px;
  /* border: 1px solid rgb(255, 255, 255); */
  /* clip-path: polygon(0% 50%, 0px 100%, 100% 100%, 100% 50%, 50% 50%); */
  display: flex;
  align-items: end;
  justify-content: center;
  min-height: var(--width);
  min-width: var(--width);
  height: var(--width);
  width: var(--width);
  border-radius: 100%;
  position: absolute;
  bottom: 10px;
  left: calc(50% - calc(var(--width) / 2));
}

#player-container>section.controller>.control-bar>.point {
  ---degrees: calc(clamp(var(--value), 0, 100) * 3.6deg);
  border: 1px solid #80808817;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 16px;
  min-height: 16px;
  border-radius: 50px;
  position: absolute;
  left: calc(calc(var(--width)/2) * sin(var(---degrees)));
  top: calc(calc(var(--width)/2) * cos(var(---degrees)));
}

#player-container>section.controller>.control-bar>.point span.dot {
  /* border: 1px solid red; */
  background-color: rgb(255, 147, 47);
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50px;
}

#player-container>section.controller>.control-bar>.time {
  /* border: 1px solid #808080; */
  /* background-color: var(--background, #ffffff); */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 25px);
  left: -20px;
  color: #dbdbdb;
  font-weight: 700;
  font-family: 'Jetbrains Mono';
}

#player-container>section.controller>.control-bar>.time.all-time {
  left: unset;
  right: -20px;
}

#player-container>section.controller>.control-bar>.circular-line {
  border: 1px solid #808080;
  /* background-color: var(--background, #ffffff); */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 99%;
  border-radius: 50%;
  position: absolute;
  bottom: 1%;
  clip-path: polygon(0% 50.8%, 0px 100%, 100% 100%, 100% 50%, 50% 50%);
}

#player-container>section.controller>.control-bar>.album-cover {
  border: 3px solid #ffffffc4;
  /* background-color: var(--background, #ffffff); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 80%;
  bottom: calc(50% - 40%);
  left: calc(50% - 40%);
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
}

#player-container>section.controller>.control-bar>.album-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#player-container>section.controller>.control-bar>.play-pause {
  /* border: 1px solid #808080; */
  /* background-color: var(--background, #ffffff); */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  /* background-color: rgb(100, 172, 188); */
  cursor: pointer;
  z-index: 3;
  /* backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 35px);
}

#player-container>section.controller>.control-bar>.play-pause svg {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  /* background: linear-gradient(#53595f, #627ea0); */
  color: rgb(255, 147, 47);
  /* color: rgb(58, 165, 189); */
  border-radius: 50%;
}

@keyframes progress {
  0% { --percentage: 0 }
  100% { --percentage: var(--value); }
}


@property --percentage {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

[role="progressbar"] {
  /* border: 1px solid red; */
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  height: calc(var(--size) / 2);
  aspect-ratio: 2 / 1;
  border-radius: 50% / 0 0 100% 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

[role="progressbar"]::before {
  content: "";
  position: absolute;
  /* border: 1px solid red; */
  /* rotate: 180deg; */
  /* translate: (-50%, 50%); */
  /* border-radius: 10px; */
  top: 0;
  right: 0;
  transform: scale(-1, 1);
  min-width: 100%;
  min-height: 100%;
  background: conic-gradient(from 90deg at 50% 0%, var(--primary) calc(var(--percentage) * 1% / 2), var(--secondary) calc(var(--percentage) * 1% / 2 + 0.2%));
  mask: radial-gradient(at 50% 0%, #0000 68%, #000 68.6%);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(at 50% 0%, #0000 68%, #000 68.6%);
  -webkit-mask-mode: alpha;
}

/* [role="progressbar"]::after {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 12);
  color: var(--primary);
  position: absolute;
  top: 0;
} */




/* Lyrics section */
#player-container.player-container>section.lyrics {
  /* border: 1px solid rgb(221, 4, 4); */
  /* background-color: var(--background, #ffffff); */
  height: calc(100% - 70px);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: start;
  position: relative;


  /* Morph */
  /* background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); */
}

section.lyrics > div.lyrics-container {
  padding: 50px 0 32% 0;
  /* border: 1px solid rgb(78, 78, 78); */
  /* background-color: var(--background, #ffffff); */
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: start;
  gap: 5px;

  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
section.lyrics>div.lyrics-container::-webkit-scrollbar {
  display: none !important;
  visibility: hidden;
}

section.lyrics>div.lyrics-container > span {
  /* border: 1px solid white; */
  width: 100%;
  max-width: 100%;
  font-size: 1.4rem;
  line-height: 1.4;
  text-align: center;
  font-weight: 500;
  color: #cecece;
  text-shadow: 0 4px 10px 0 #000000;

  font-family: 'Jetbrains Mono';
}

section.lyrics>div.lyrics-container>span.current {
  /* border: 1px solid white; */
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 800;
  line-height: 1.5;
}

section.lyrics>div.lyrics-container>span.next {
  /* border: 1px solid white; */
  padding: 20px 0 0 0;
}

section.lyrics>div.lyrics-container>span.dots {
  /* border: 1px solid white; */
  margin: 20px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: max-content;
}

section.lyrics>div.lyrics-container>span.dots > span.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50px;
}